.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl
.env
.history
.gemini


# VLFS E2E Artifacts
.workspace/
